* {
    font-family: Solway;
}

section {
    text-align: center;
}

button {
    list-style: none;
    padding: 1em;
    display: inline-block;
    margin: 0 1em;
    border: thin solid cornflowerblue;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
    color: white;
}
