<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>AngularJS Tutorials</title>
</head>

<!-- ng-app registers the application with the given name. -->

<body ng-app="ngClickApp">
    <main>
        <!-- ng-controller registers the controller that is going to "govern" the section -->
        <section ng-controller="clickController">
            <!-- the {{ }} brackets are called interpolation expressions or binding expressions -->
            <!-- they are used to bind or display data to attributes or as text -->
            <h1>Welcome, {{ name }}</h1>
            <p>click on the button to see the name change!</p>

            <!-- the ng-click directive accepts a name of a function -->
            <!-- the function will be called when the element has been clicked -->
            
            <button ng-click="changeName()">Change Name</button>

            <!-- to pass parameters to function we can pass it through the paranthesis '()' -->
            <button ng-click="changeName('Sherlock Holmes')">Sherlock Holmes</button>
            <button ng-click="changeName('Gregory House')">Gregory House</button>
            <button ng-click="changeName('Sheldon Cooper')">Sheldon Cooper</button>
            <button ng-click="changeName('Ted Mosby')">Ted Mosby</button>
            <button ng-click="changeName('John Snow')">John Snow</button>
            <button ng-click="changeName('Shaktimaan')">Shaktimaan</button>
            <button ng-click="changeName('Ganes')">Ganes</button>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./ngclick.js"></script>
    <script src="./controllers/click-controller.js"></script>
</body>

</html>